{% extends 'base.html.twig' %}
{% block body %}

    <div class="container"><div class="row">
        {% for product in products %}
            <div class="col-md-3 mt-4">
               <img src="{{asset('uploads/images/'~product.image)}}" class="card-img-top" alt="{{product.name}}">
                <div class="card-body">
                    <a href="{{ path('app_home_product_show',{'id':product.id}) }}"><h5 class="card-title">{{product.name}}</h5></a>
                    <p class="card-text">{{product.description}}</p>
                    <p class="card-text"><small class="text-muted">{{product.price}}</small></p>
                    <a href="#">Add to card</a>
                </div>
        </div>
        {% endfor %}</div>
    </div>
{% endblock %}